.ContainerWeek {
    position: absolute;
    left: calc(var(--left-width) + 1rem);
    top: calc(var(--header-hight) + .5rem);
    bottom: .5rem;
    right: .5rem;
    background-color: var(--main-background-color);
    border-radius: var(--main-border-radius);
    display: flex;
    flex-direction: column;
}
