.ContainerMonth {
    position: absolute;
    left: .5rem;
    top: .5rem;
    width: var(--left-width);
    height: 15.5rem;
    background-color: lightgreen;
    border-radius: var(--main-border-radius);
    display: flex;
    flex-direction: column;
}
