.ContainerMonth {
    position: absolute;
    left: .5rem;
    top: calc(var(--header-hight) + .5rem);
    width: var(--left-width);
    height: var(--month-height);
    background-color: var(--main-background-color);
    border-radius: var(--main-border-radius);
    display: flex;
    flex-direction: column;
}
