.ContainerFilters {
    position: absolute;
    left: .5rem;
    top: 16.5rem;
    width: var(--left-width);
    bottom: .5rem;
    background-color: var(--main-background-color);
    border-radius: var(--main-border-radius);
}
