.ContainerFilters {
    position: absolute;
    left: .5rem;
    top: 17rem;
    width: var(--left-width);
    bottom: .5rem;
    background-color: lightgreen;
    border-radius: var(--main-border-radius);
}
