.MonthGridHeader {
    position: relative;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1px;
    margin: 1.4rem .5rem .5rem .5rem;
}

.MonthGrid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 1px;
    margin: .5rem;
}

.MonthGridHeaderItem {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: smaller;
}

.MonthGridItem {
    background-color: #fafafa;
    color: #777;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    font-size: smaller;
}

.IsToday {
    background-color: white;
    color: black;
    font-weight: bold;
}
