.ItemDayEvents {
    position: relative;
    background-color: white;
}

.ItemHour {
    background-color: #f9f9f9;
    padding: .2rem;
    color: silver;
}

.ItemCurrent {
    position: relative;
    background-color: white;
}

.ItemCurrenTime {
    background-color: orange;
    color: white;
}

.ItemCurrenTimeLine {
    position: absolute;
    left: 4rem;
    right: 2rem;
    top: 50%;
    background-color: white;
    /*width: 100%;*/
    height: 2px;
    /*border: solid 1px red;*/
}
