.WeekScroller {
    position: relative;
    left: 0;
    right: 0;
    margin: .2rem .4rem .4rem .4rem;
    overflow: scroll;
}

.WeekGrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(24, auto);
    height: 1400px;
    gap: 1px;
}
